.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;

}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url("../img/Menu\ Aberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    padding: 0 0.5em;

}

span.container__imagem.container__imagem {
    margin: 1em;
}

.container__imagem {
    padding: 0.5em;

}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;

}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__item,
.lista-menu__titulo {
    padding: 0.8em;
    background-color: var(--branco);

}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;



}

.lista-menu__link {
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

/*ANIMAÇÃO PREENCHER CORAÇÃO*/

#coracao:checked+label>svg {
    animation: preencher;
    animation-duration: .5s;
    animation-fill-mode: forwards;

}

@keyframes preencher {
    0% {
        fill: transparent;
    }

    100% {
        fill: #002F52;
    }
}

#coracao {
    display: none
}

/*ANIMAÇÃO BALANÇAR CORAÇÃO*/
.icone {
    cursor: pointer;
}

#coracao:checked+label>svg {
    animation: wiggle 2s linear, fill 1s;
    animation-fill-mode: forwards;

}

@keyframes wiggle {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

@keyframes fill {
    0% {
        fill: transparent;
    }

    100% {
        fill: #002F52;
    }
}

input[type="checkbox"]:not(:checked)+label>svg {
    animation: shake 2s linear, fill2 1s;
    animation-fill-mode: forwards;
}

@keyframes shake {

    0%,
    7% {
        transform: rotateZ(0);
    }

    15% {
        transform: rotateZ(-15deg);
    }

    20% {
        transform: rotateZ(10deg);
    }

    25% {
        transform: rotateZ(-10deg);
    }

    30% {
        transform: rotateZ(6deg);
    }

    35% {
        transform: rotateZ(-4deg);
    }

    40%,
    100% {
        transform: rotateZ(0);
    }
}

@keyframes fill2 {
    0% {
        fill: transparent;
    }

}


.opções,
.container__botao,
.container__titulo,
.container__texto {
    display: none;
}





@media screen and (min-width:1024px) {
    /* .menu__botao {
        display: flex;
    } */

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--josefins);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
        margin: 0.5em;

    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opções {
        display: flex;

    }

    .opções__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opções__link {
        text-decoration: none;
        color: var(--preto);
    }

    .heart,
    .cabecalho__menu-hamburguer,
    .opções__botão {
        display: none;
    }

}

.opções__botão:checked~.lista-menu {
    display: block;
    width: auto;
}

.opções__botão:checked~.opções__rotulo>.opções__item {
    background: var(--azul-degrade);
    color: var(--branco);
}

.opções__item {
    padding: 2em 1em;
}

.lista-menu__item:hover {
    background: var(--azul-degrade);
}

.lista-menu__item:hover>.lista-menu__link {
    -webkit-text-fill-color: var(--branco);

}

/*Tela notebook e desktop*/
@media screen and (min-width:1728px) {
    .container__texto {
        display: block;
    }

    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opções {
        margin-right: auto;
    }


}