.visitados {
    background: var(--azul-degrade);
    text-align: center;
    padding: 1em 0.5em;

}

.titulo__visitados {
    color: var(--branco);
    font-weight: 300;
    margin-bottom: 0.5em;


}

.botoes__visitados {
    display: flex;
    text-align: center;

}

.lista__visitados {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;




}

.item__visitado {
    color: var(--branco);
    padding: 1em;
    margin: 1em 0.5em;
    background-color: var(--laranja);

}

.link__item {
    text-decoration: none;
    color: var(--branco);
    font-size: 14px;
    font-weight: 700;
}